.container {
    width: 70%;
    margin: 10% auto;
    text-align: center;
}

.dice {
    text-align: center;
    display: inline-block;
}

body {
    background-color: #393E46;
}

h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: #4ECCA3;
}

button {
    display: block;
    margin: 5% auto;
    border-radius: 20px;
    height: 45px;
    width: 150px;
    font-size: 1.2rem;
    font-weight: bold;
    border-color: #4ECCA3;
    border-width: medium;
    background-color: #9c060c;
    color: #4ECCA3;
    cursor: pointer;
}

button:hover {
    background-color: #4ECCA3;
    color: #9c060c;
    transition: 0.8s;
}

p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
}

img {
    width: 80%;
}

footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
